.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: rgba(168, 86, 128, 0.4);
  font-family: "Roboto", sans-serif;
  padding: 16px;
}

.meter {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: flex-end;
}

.value {
  font-size: 24px !important;
  font-weight: 400 !important;
  color: #fff !important;
  text-shadow: 2px 2px #000;
}

.label {
  padding-top: 16px;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #fff !important;
  text-shadow: 2px 2px #000;
}

.unit {
  padding-left: 6px;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #fff !important;
  text-shadow: 2px 2px #000;
}
